.about-head{
	background: #F2F2F2;
	color: #999;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom: 1px solid #ddd;
}
.endereco h4, .telefones h4{
	float: left;
	margin: 0;
	padding: 0;
	display: inline;
}
.telefones h4{
	float: right;
}
.telefones a, address a, address a:hover,address a:visited,.telefones a:hover,.telefones a:visited{
	font-size: 22px;
	color: #31C1E4;
	margin-right: 10px;
	text-decoration: none;
}
address{
	margin-bottom: 0
}
.admin a{
	background: #777;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	display: inline-block;
	margin: 5px 0 -5px 0;
	float: none;
	font-weight: bolder;
	color: #fff!important;
}
.menu-item{
	display: inline;
	font-size: 15px;
	text-transform: uppercase;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
}
.menu-item a{
	color: #999!important;
	text-decoration: none;
	margin: 10px;
}
.menu-item a:hover,.menu-item a:focus, .menu-item i.fa{
	color: #31C1E4!important;
	text-decoration: none;
}
.sub-menu {
	display: none;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
}
@media (min-width: 992px) {
	nav{
		float: right;
	}
}
@media (max-width: 992px) {
	nav a{
		margin: 3px!important;
		padding-left: 5px!important;
		padding-right: 5px!important;
	}
}
footer{
	background: #3C3C3C;
	min-height: 100px;
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}
body{
	margin:0;
	padding:0;
}
footer, footer a{
	color: #FFF;
}

.top-fixed{
	position: fixed;
	top: 0;
	left:0;
	background: #fff;
	width: 100%;
	z-index: 1000;
}
.base-header{
	border-bottom: 1px solid #ccc;
	padding-bottom: 4px;
}
@media (max-width: 768px) {
	.info-interno{
		text-align: justify;
	}
	.
	.navbar-collapse {
		max-height: 100%;
	}
	.base-header img{
		max-height: 50px;
	}
}
.btn-info-marcel{
	padding: 10px;
	border: 2px solid #fff;
	margin-bottom: 5px;
	color: #fff;
}
.btn-info-marcel:hover{
	background: #fff;
	border-color: #189ABA;
	color: #000;
	-webkit-transition:background-color 1000ms linear;
	-moz-transition:   background-color 1000ms linear;
	-o-transition:     background-color 1000ms linear;
	-ms-transition:    background-color 1000ms linear;
	transition:        background-color 1000ms linear;
	-webkit-transition-property:color, background, color;
	-moz-transition-property:color, background, color;
	-o-transition-property:color, background, color;
	-ms-transition-property:color, background, color;
	transition-property:color, background, color;
}
.img-responsive{
	margin: 0 auto;
}
	.info-system{
	background: #31C1E4;
	color: #fff;
	font-weight:bold;
	text-align: center;
}
.info-system h2{
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	margin-top: 5px;
}
.info-system h3{
	margin-top: 0px;
	border-top: 1px solid #fff;
}
.btn-marcel{
	background: #eee;
	border: 2px solid #31C1E4;
	color: black;
	padding: 22px;
}
.btn-large{
	font-size: 22px;

}
.info-interno{
	text-shadow: 1px 1px 1.5px rgba(49, 193, 228, 0.5);
}
figure{
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0 auto;
	width: 200px;
	height: 200px;
	border-radius: 10px;
	border: 1px solid #eee;
}
figure img, figure .zoom{
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
}
figure .zoom{
	visibility: hidden;
	background: rgba(200,200,200,0.75);
	line-height: 230px;
	text-align: center;
}
figure:hover .zoom{
	visibility: visible;
}
